@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    Mr BeKZat<br />
    Talgar town <br />
    <abbr title="Phone">P:</abbr>
    708.669.3569
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bekonti811@gmail.com">bekonti811@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:bekonti811@gmail.com">bekonti811@gmail.com</a>
</address>